/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.post .entry-header {
	line-height: 0;
	position: relative;
	.entry-title {
		position: absolute;
		left: 0;
		top: 0;
		background-color: #248a83;
		padding: .75rem 1.5rem;
		margin-top: 2.25rem;
		max-width: 75%;
		a {
			color: #fff;
		}
	}
	.entry-meta {
		background-color: #248a83;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: "Novecento Sans Wide", sans-serif;
    padding: 1rem 1.5rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
	}
	.entry-content {
		margin-top: 0;
	}
	
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.site-content {
	padding-top: 50px;
}