/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
	font-family: 'Merriweather';
	src: url('../../fonts/Merriweather-LightItalic.eot');
	src: url('../../fonts/Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Merriweather-LightItalic.woff2') format('woff2'),
		url('../../fonts/Merriweather-LightItalic.woff') format('woff'),
		url('../../fonts/Merriweather-LightItalic.svg#Merriweather-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Novecento Sans Wide';
	src: url('../../fonts/Novecentosanswide-Demibold.eot');
	src: url('../../fonts/Novecentosanswide-Demibold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Novecentosanswide-Demibold.woff2') format('woff2'),
		url('../../fonts/Novecentosanswide-Demibold.woff') format('woff'),
		url('../../fonts/Novecentosanswide-Demibold.svg#.') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Novecento Sans Wide';
	src: url('../../fonts/Novecentosanswide-Normal.eot');
	src: url('../../fonts/Novecentosanswide-Normal.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Novecentosanswide-Normal.woff2') format('woff2'),
		url('../../fonts/Novecentosanswide-Normal.woff') format('woff'),
		url('../../fonts/Novecentosanswide-Normal.svg#.') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../../fonts/Merriweather-Light.eot');
	src: url('../../fonts/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Merriweather-Light.woff2') format('woff2'),
		url('../../fonts/Merriweather-Light.woff') format('woff'),
		url('../../fonts/Merriweather-Light.svg#Merriweather-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../../fonts/Merriweather-Bold.eot');
	src: url('../../fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Merriweather-Bold.woff2') format('woff2'),
		url('../../fonts/Merriweather-Bold.woff') format('woff'),
		url('../../fonts/Merriweather-Bold.svg#Merriweather-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../../fonts/Merriweather-BoldItalic.eot');
	src: url('../../fonts/Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Merriweather-BoldItalic.woff2') format('woff2'),
		url('../../fonts/Merriweather-BoldItalic.woff') format('woff'),
		url('../../fonts/Merriweather-BoldItalic.svg#Merriweather-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
