// front page--------------------------------

.front-page-content {
  width: $base__width;
  margin: 0 auto;
  h2 {
    text-align: center;
    padding: 2rem;
    font-weight: normal;
  }
}

.front-page-hero-banner {
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
  background-size: cover,cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 275px;
    width: 275px;
  }
}

ul.front-page-product-types {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
}

.front-page-type {
  border: 1px solid #e1e1e1;
  border-top-width: .25rem;
  text-align: center;
  padding: .75rem;
  padding-bottom: 1.5rem;
  &:hover {
    border-color: #d99054;
  }
  img {
    width: 70px;
    height: 70px;
  }
  p {
    padding-bottom: .5rem;
  }
}

ul.journal-entries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.4rem;
  width: 100%;
  margin: 0;
  padding: 3rem 0;
  
  li {
    display: grid;
    grid-template-rows: 250px 10rem;
    border: 1px solid #e1e1e1;

    img {
      border-bottom: .3rem solid #e1e1e1;
      height: 250px;
    }
    .front-page-journal-blurb {
      padding: 1rem;
      display: grid;
      grid-template-rows: auto 3fr auto;
    }

    .date-comments {
      font-size: .75rem;
    }

    a.blurb-title {
      @include link-green;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      line-height: 1.25;
      letter-spacing: 2px;
      margin-bottom: 1rem;
    }

    a.white-button {
      width: 140px;
      padding: .5rem 1.5rem;
    }
  }
}

.front-page-adventures {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .front-page-adventure {
    object-fit: cover;
  }
  
  .front-page-adventure:first-child {
    grid-row-start: span 2;
  }

  .front-page-adventure:nth-child(2) {
    grid-column-start: span 2;
  }
}