/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

body.page-template.default {
  
}


// Find us -------------------------------------------
body:not(.home):not(.page-template-about):not(.post-type-archive):not(.tax-product-type):not(.single-product):not(.single-adventure) {
  .site-content {
  display: grid;
  grid-template-columns: 73% 27%;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
    .content-area {
      border-right: 1px solid #e1e1e1;
      padding-right: 7%;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

// About ------------------------------------------------

body.page-template-about {
  .entry-header {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .entry-title {
    font-size: 3rem;
  }
  .entry-content {
    margin: 4rem auto;
    max-width: 800px;
    p {
      margin-bottom: 1.5rem;
    }
    h2 {
      text-align: center;
    }
  }
}

// 404 ---------------------------------------

.widget {
  h2 {
    font-size: 1.5rem;
  }
}


// archive ---------------------------------

.archive:not(.post-type-archive):not(.tax-product-type) .page-header, .search .page-header {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}


// front page--------------------------------

.page-template-front-page .site-main {
  width: $base__width;
  margin: 0 auto;
}

ul.front-page-product-types {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
}

.front-page-type {
  border: 1px solid #e1e1e1;
  border-top-width: .25rem;
  text-align: center;
  padding: .75rem;
  padding-bottom: 1.5rem;
  &:hover {
    border-color: #d99054;
  }
  img {
    width: 70px;
    height: 70px;
  }
  p {
    padding-bottom: .5rem;
  }
}

ul.journal-entries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.4rem;
  width: 100%;
  margin: 0;
  padding: 3rem 0;
  
  li {
    display: grid;
    grid-template-rows: 250px 10rem;
    border: 1px solid #e1e1e1;

    img {
      border-bottom: .3rem solid #e1e1e1;
      height: 250px;
    }
    .front-page-journal-blurb {
      padding: 1rem;
      display: grid;
      grid-template-rows: auto 3fr auto;
    }

    .date-comments {
      font-size: .75rem;
    }

    a.blurb-title {
      @include link-green;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.3rem;
      line-height: 1.25;
      letter-spacing: 2px;
      margin-bottom: 1rem;
    }

    a.white-button {
      width: 140px;
      padding: .5rem 1.5rem;
    }
  }
}

// single.php -----------------------------------

.entry-footer {
  a {
    @include link-green;
  }

  .social-buttons button {
    @include white-button;
  }
}

.comment-list {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 1rem;
  h2 {
    margin-bottom: 0;
  }
}

.comment-body {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-top: 1.5rem;
  border-bottom: 1px solid lightgrey;
  .comment-author-avatar {
    border-radius: 50%;
    height: 64px;
    margin-right: 1.5rem;
    width: 64px;
  }
  .comment-content {
    padding-bottom: 2rem;
    
    a {
      @include link-green;
      font-family: "Merriweather", sans-serif;
      font-style: normal;
    }
    p {
      margin-bottom: .5rem;
    }
  }
}

.comment-meta {
  .comment-author {
    font-weight: bold;
  }
  .comment-metadata {
    color: grey;
  }
}

.comment-respond {
  a {
    @include link-green;
  }
}