/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

body.page-template.default {
  
}


// Find us -------------------------------------------
body:not(.home):not(.page-template-about):not(.post-type-archive):not(.tax-product-type):not(.single-product):not(.single-adventure) {
  .site-content {
  display: grid;
  grid-template-columns: 73% 27%;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
    .content-area {
      border-right: 1px solid #e1e1e1;
      padding-right: 5%;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}






// About ------------------------------------------------

body.page-template-about {
  .entry-header {
    background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ), url(#) no-repeat center bottom;
    background-size: cover, cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .entry-content {
    margin: 4rem auto;
    max-width: 800px;
    p {
      margin-bottom: 1.5rem;
    }
  }
}

// 404 ---------------------------------------

.widget {
  h2 {
    font-size: 1.5rem;
  }
}