/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

body.page-template.default {
  .site-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}







// About ------------------------------------------------

body.page-template-about {
  .entry-header {
    background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ), url(#) no-repeat center bottom;
    background-size: cover, cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .entry-content {
    margin: 4rem auto;
    max-width: 800px;
    p {
      margin-bottom: 1.5rem;
    }
  }
}