.widget-area {
  padding-left: 20%;
  padding-top: 6rem;
  padding-bottom: 3rem;

  a {
    @include link-green;
    font-family: "Merriweather", serif;
    text-transform: none;
  }
  
  .widget {
    margin: 0 0 3rem;

    h2 {
      font-size: 1.5rem;
    }
    ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
}

.day-of-week {
  font-weight: bold;
}