main.no-banner {
  width: $base__width;
  margin: 0 auto;
  padding-top: 6rem;
}

article.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 3rem;

  img {
    grid-row-end: span 4;
    object-fit: contain;
  }

  h1 {
    margin-top: 0;
    color: #d99054;
  }

  .price {
    font-family: $font__accent;
    font-size: 1.8rem;
    margin: 0;
    text-transform: uppercase;
  }

  .social-buttons {
    margin-top: 1rem;
  }
}